:root {
  --background-colour: #e5e5e5;
  --primary-colour: #c32c72;
  --secondary-colour: #f4f3ee;
  --white: #ffffff;
  --text-colour: #8d8d8d;
  --logo-colour: #262626;
  --header-colour: #463f3a;
}
